*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    line-height: 1.5;
}

html {
    font-family:
        "Space Grotesk",
        system-ui,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji';

    line-height: inherit;

    -webkit-text-size-adjust: 100%;
    /* 2. Prevent adjustments of font size after orientation changes in iOS. */
    tab-size: 4;
    /* 3. Use a more readable tab size (opinionated). */

    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;

    font-optical-sizing: auto;
}

/**
Add the correct font weight in Chrome and Safari.
*/

b,
strong {
    font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
    font-family:
        ui-monospace,
        SFMono-Regular,
        Consolas,
        'Liberation Mono',
        Menlo,
        monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
    font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/*
Tabular data
============
*/

/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
    border-color: currentcolor;
}

/*
Forms
=====
*/

/**
Change the font styles in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
    padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
    vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
    display: list-item;
}

/* body {
    background-color: color-mix(in srgb, Canvas, CanvasText 2.5%);
    color: color-mix(in srgb, CanvasText, Canvas 15%);
    color-scheme: light dark;
} */

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*/*/
/* Start here !!!! */
/*/*/

ul {
    list-style: none;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

:root {
    --accent-color: #1992d4;
}

/* START */
/* SIDEBAR */
/* START */

.sidebar {
    background-color: var(--accent-color);
    color: white;

    grid-row: 1 / 4;

    display: grid;
    grid-template-rows: repeat(2, auto);

    align-content: flex-start;
    gap: 40px;

    padding-top: 40px;
}

.title img {
    justify-self: center;

    height: 40px;
    filter: invert(100%);
}

.tab img,
.others img {
    height: 20px;
    filter: invert(100%);
}

.sidebar .title {
    display: grid;
    grid-template-columns: 1fr 3fr;

    align-items: center;

    font-weight: bolder;
    font-size: 25px;
}


.sidebar ul {
    padding-left: 20px;

    font-size: 16px;
    font-weight: bold;
}

.sidebar li {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-auto-rows: 40px;

    align-items: center;
}

/* END */
/* SIDEBAR */
/* END */



/* START */
/* HEADER ACTIONS */
/* START */

.header,
.actions {
    padding: 10px 40px;
}

.header {
    display: grid;
    grid-template-columns: auto 3fr 0.5fr auto 0.8fr;
    align-items: center;
    gap: 20px;

    font-size: large;
    font-weight: bold;
}

.search-bar {
    background-color: rgb(230, 230, 230);
    border-radius: 30px;
    height: 30px;
}

.header img {
    height: 25px;
    justify-self: flex-end;
}


.profile-icon {
    height: 80px;
    border-radius: 100px;

    justify-self: flex-end;
}

.header .profile-icon {
    height: 50px;
}

.header+.actions {
    display: grid;
    grid-template-columns: 0.5fr 3fr 2fr;
    gap: 20px;
    align-items: center;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    place-items: center;
}

button {
    border: none;
    padding: 7px 30px;
    border-radius: 20px;
    background-color: var(--accent-color);
    color: white;
    font-weight: bold;

    cursor: pointer;

    text-transform: uppercase;
}

.greetings {
    font-weight: bold;
    font-size: 20px;
}

.greetings p {
    font-size: 16px;
}




/* END */
/* HEADER ACTIONS */
/* END */

.contents {
    background-color: #e2e8f0;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 20px;

    padding: 40px 20px;

    box-shadow: inset 0 10px 10px -7px rgba(0, 0, 0, 0.2);
}

.projects {
    grid-row: 1 / 3;
}

.label {
    font-weight: bold;
    font-size: larger;

    margin-bottom: 10px;
}

.projects .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;

    display: grid;
    grid-template-rows: repeat(3, auto);

    gap: 10px;

    border-left: 10px solid orange;

    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}


.card ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;

    justify-content: flex-end;

    margin-right: 10px;
}

.card img {
    height: 20px;

    cursor: pointer;
}

.card .title {
    font-weight: bold;
    font-size: 20px;
}

.card p:nth-child(2),
.post p:nth-child(2) {
    color: rgb(100, 100, 100);

    font-size: 14px;

    height: 5lh;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.announcements .container,
.trending .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    padding: 40px;

    background-color: white;
    border-radius: 10px;

    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.trending .container {
    padding: 20px;
}

.announcements {
    margin-bottom: 20px;
}

.post .title {
    font-weight: bold;
    font-size: 20px;
}

.post {
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(193, 193, 193);
}

.post:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

.post p:nth-child(2) {
    height: 3lh;
    font-size: 12px;
}

.trending li {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(2, auto);
    align-items: center;
}

.trending img {
    grid-row: 1 / 3;

    justify-self: center;
    height: 50px;

    border-radius: 50px;
}

.username::before {
    content: "@";
}

.project {
    color: rgb(83, 83, 83);
}